

.main_box{
    justify-content: center;
    width:100%;
}


.jp{
    position: absolute;    
    top:13.9%;
    left:2.96%;
}

.character{
    width:100%;
    background: url("/character.png") center bottom no-repeat;
    background-size: contain;
    position: relative;
}


.background{
    width:100%;

}






